<% title @vm.name %>
<%
  def memory_prop(method)
    content_tag :tr do
      result = content_tag(:td) do
        method.to_s.humanize
      end
      result += content_tag(:td) do
        value = @vm.send(method) rescue nil
        value && number_to_human_size(value)
      end
      result
    end
  end
%>

<div class='col-md-12'>
  <table class="<%= table_css_classes %>">
    <thead>
      <tr><th colspan="2"><%=_('Properties') %></th></tr>
    </thead>
    <tbody>
      <%= prop :id %>
      <%#= prop :cluster %>
      <% if @vm.dynamic_memory_enabled %>
        <%= memory_prop :memory_maximum %>
        <%= memory_prop :memory_minimum %>
      <% end %>
      <%= memory_prop :memory_startup %>
      <%= prop :public_ip_address %>
      <%= prop :mac %>
      <%= prop :processor_count %>
      <%= prop :computer_name %>
      <%= prop :status %>
      <%= prop :state %>
      <%= prop :notes %>
    </tbody>
  </table>
</div>
