<%= javascript_tag("$(document).on('ContentLoad', function() { tfm.numFields.initAll(); })") %>

<%
  cluster_errors = []
  begin
    clusters = compute_resource.clusters.map(&:name)
    f.object.cluster_name = clusters.first if clusters.count == 1
    computers = (compute_resource.clusters.find {|c| c.name == f.object.cluster_name } || compute_resource).hosts
    f.object.computer_name ||= computers.first.name
  rescue Fog::Hyperv::Errors::PSError => ex
    # In case of errors
    clusters = []
    computers = []

    cluster_errors << ex
  end
%>
<% if clusters.any? -%>
  <%= select_f f, :cluster_name, clusters, :to_s, :to_s, { include_blank: true }, label: _('Cluster') %>
  <% if computers.count > 1 -%>
    <%= select_f f, :computer_name, computers, :name, :name, {}, label: _('Computer Name'), onload: 'hypervHostChange(this);', onchange: 'hypervHostChange(this);' %>
  <% end -%>
<% end %>
<div class="clearfix">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-4 help-block" id="hypervComputerInformation" style="margin-top: -1.25em;">
<% computers.each do |host| -%>
    <table class="hyperv-host-info" style="<%= (host.name == f.object.computer_name) ? '' : 'display: none' %>" data-host="<%= host.name %>">
      <tbody>
        <tr>
          <td>Logical CPU Count:</td>
          <td style="padding-left:0.5em;"><%= host.logical_processor_count %></td>
        </tr>
        <tr>
          <td>Memory Capacity:</td>
          <td style="padding-left:0.5em;"><%= number_to_human_size(host.memory_capacity) %></td>
        </tr>
      </tbody>
    </table>
<% end -%>
  </div>
</div>

<% cluster_errors.each do |err| -%>
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <span class="pficon pficon-error-circle-o "></span> <span class="text"><%= err.message %> (<%= err.info %>)</span>
</div>
<% end -%>

<%
  generations = [ [1, 'Generation 1 (BIOS)'], [2, 'Generation 2 (UEFI)'] ]
%>
<%= select_f f, :generation, generations, :first, :last, {}, label: 'Generation', disabled: !new_host, onchange: 'hypervGenerationChange(this);' %>
<% if new_host || f.object.generation == 2 %>
<%= checkbox_f f, :secure_boot_enabled, { label: _('Use Secure Boot'), disabled: f.object.generation == 1 }, 'true', 'false' %>
<% end %>

<%= counter_f f, :processor_count, label: _('CPUs'), label_size: 'col-md-2' %>
<%= byte_size_f f, :memory_startup, class: 'col-md-2', label: _('Memory (Startup)') %>

<%= byte_size_f f, :memory_maximum, class: 'col-md-2', label: _('Memory Maximum'), disabled: !f.object.dynamic_memory_enabled %>
<%= byte_size_f f, :memory_minimum, class: 'col-md-2', label: _('Memory Minimum'), disabled: !f.object.dynamic_memory_enabled %>
<%= checkbox_f f, :dynamic_memory_enabled, { label: _('Use Dynamic Memory'), onchange: 'hypervDynamicMemoryChange(this);' }, 'true', 'false' %>

<% if new_host %>
<%   if compute_resource.servers.new().respond_to? :set_vlan -%>
<%= text_f f, :vlan, label: _('VLAN'), label_size: 'col-md-2' %>
<%   end -%>
<% checked = params[:host] && params[:host][:compute_attributes] && params[:host][:compute_attributes][:start] || '1' %>
<%= checkbox_f f, :start, { checked: (checked == '1'), help_inline: _("Power ON this machine"), label: _('Start'), label_size: "col-md-2"} if new_host && controller_name != "compute_attributes" %>
<% end %>

<%= textarea_f f, :notes, rows: '3', label: _('Notes') %>
<%= f.hidden_field :id %>

<%= javascript_include_tag("foreman_hyperv/compute_resource_base.js") %>
