<%= javascript_include_tag("foreman_hyperv/compute_resource_base.js") %>
<%
  cluster_errors = []
  begin
    clusters = compute_resource.clusters.map(&:name)
    f.object.cluster_name = clusters.first if clusters.count == 1
    computers = (compute_resource.cluster(f.object.cluster_name) || compute_resource).hosts
    f.object.computer_name ||= computers.first.name
  rescue Fog::Hyperv::Errors::PSError => ex
    # In case of errors
    clusters = []
    computers = []

    cluster_errors << ex
  end
-%>
<% if clusters.any? -%>
  <%= select_f f, :cluster_name, clusters, :to_s, :to_s, { include_blank: true }, label: _('Cluster'), disabled: !new_host %>
  <% if computers.count > 1 -%>
    <%= select_f f, :computer_name, computers, :name, :name, {}, label: _('Computer Name'), disabled: !new_host, onload: 'hypervHostChange(this);', onchange: 'hypervHostChange(this);' %>
  <% end -%>
<% end -%>
<% cluster_errors.each do |err| -%>
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <span class="pficon pficon-error-circle-o "></span> <span class="text"><%= err.message %> (<%= err.info %>)</span>
</div>
<% end -%>

<%
  firmware_type = compute_resource.firmware_type(f.object.foreman_firmware, f.object.secure_boot_enabled)
-%>
<%= field(f, :foreman_firmware, :label => _('Firmware'), :label_help => _("Choose 'Automatic' to set the firmware based on the PXE loader of the host. If no PXE loader is selected, firmware defaults to BIOS."), :label_size => "col-md-2") do
  compute_resource.firmware_types.collect do |type, name|
    enabled = new_vm
    enabled ||= firmware_type != :bios && type.to_s.start_with?('uefi')

    radio_button_f f, :foreman_firmware, { :checked => (firmware_type == type), :disabled => !enabled, :value => type, :text => _(name) }
  end.join(' ').html_safe
end %>
<%= checkbox_f f, :tpm_enabled, { help_inline: _('Add Virtual TPM module to the VM.'),
                                  label: _('Virtual TPM'),
                                  label_help: _('Only compatible with UEFI firmware.'),
                                  label_size: 'col-md-2' } %>
<%= select_f f, :boot_device, hyperv_boot_devices, :first, :last, {}, label: _('Boot device'), label_help: _('Has effect only for network based provisioning'), class: 'col-md-2' if new_vm %>

<%= counter_f f, :processor_count, label: _('CPUs'), label_size: 'col-md-2' %>
<%= byte_size_f f, :memory_startup, label: _('Memory (Startup)'), label_size: 'col-md-2' %>

<%= checkbox_f f, :dynamic_memory_enabled, { label: _('Use Dynamic Memory'), onchange: 'hypervDynamicMemoryChange(this);' }, 'true', 'false' %>
<%= byte_size_f f, :memory_maximum, class: 'col-md-2', label: _('Memory Maximum'), disabled: !f.object.dynamic_memory_enabled %>
<%= byte_size_f f, :memory_minimum, class: 'col-md-2', label: _('Memory Minimum'), disabled: !f.object.dynamic_memory_enabled %>

<% checked = params[:host] && params[:host][:compute_attributes] && params[:host][:compute_attributes][:start] || '1' -%>
<%= checkbox_f f, :start, { checked: (checked == '1'), help_inline: _("Power ON this machine"), label: _('Start'), label_size: "col-md-2"} if new_host && controller_name != "compute_attributes" %>

<%= textarea_f f, :notes, rows: '3', label: _('Notes') %>
